In [1]:
# Imporing Required Libraries

import pandas as pd
import numpy as np

In [2]:
# Libraries for Data Visualisation
import os
import cv2
import pandas as pd
import numpy as np
import gc
import matplotlib.pyplot as plt
from matplotlib.image import imread
from sklearn.metrics import fbeta_score
from tqdm import tqdm
import tensorflow as tf
from keras import optimizers
from tensorflow.keras.models import Sequential 
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.layers import Input , Dense , Dropout , Flatten,\
Conv2D,MaxPooling2D , BatchNormalization
from keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau, History
import tensorflow_addons as tfa

In [3]:
path = "../input/planets-dataset/"
os.listdir(path)

['planet', 'test-jpg-additional']

In [4]:
train_label = pd.read_csv("/kaggle/input/planets-dataset/planet/planet/train_classes.csv")
train_label.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [5]:
labels = set()
def splitting_tags(tags):
    '''
    Takes in tags column, splits the tags and store as a set
    '''
    [labels.add(tag) for tag in tags.split()]
    
# Create a copy of train_label
train = train_label.copy()
train['tags'].apply(splitting_tags)
labels = list(labels)
print(labels)

['cultivation', 'conventional_mine', 'habitation', 'bare_ground', 'haze', 'slash_burn', 'blooming', 'partly_cloudy', 'clear', 'road', 'selective_logging', 'blow_down', 'cloudy', 'primary', 'water', 'artisinal_mine', 'agriculture']

In [6]:
##One hot encoding is performed on the labels in train classes 

for tag in labels:
    train[tag] = train['tags'].apply(lambda x: 1 if tag in x.split() else 0)
    
## adding .jpg extension to the column image_name so as to have same name format as the image files
train['image_name'] = train['image_name'].apply(lambda x: '{}.jpg'.format(x))
train.head()

,image_name,tags,cultivation,conventional_mine,habitation,bare_ground,haze,slash_burn,blooming,partly_cloudy,clear,road,selective_logging,blow_down,cloudy,primary,water,artisinal_mine,agriculture
0,train_0.jpg,haze primary,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
1,train_1.jpg,agriculture clear primary water,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,1
2,train_2.jpg,clear primary,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
3,train_3.jpg,clear primary,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
4,train_4.jpg,agriculture clear habitation primary road,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,1

In [7]:
#importing libraries for training
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Conv2D, MaxPooling2D
from tensorflow.keras.layers import Dropout, Flatten
from tensorflow.keras.optimizers import Adam, SGD
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [8]:
# Defining the columns,i.e the labels that were newly added to the train_classes via hot encoding.
columns = list(train.columns[2:])

In [9]:
columns

['cultivation',
 'conventional_mine',
 'habitation',
 'bare_ground',
 'haze',
 'slash_burn',
 'blooming',
 'partly_cloudy',
 'clear',
 'road',
 'selective_logging',
 'blow_down',
 'cloudy',
 'primary',
 'water',
 'artisinal_mine',
 'agriculture']

In [10]:
def fbeta(y_true, y_pred, beta = 2, epsilon = 1e-4):
    '''
    Set y_true and y_pred

    Args:
        y_true: correct target values
        Y_pred: predicted values returned by the classifer
        beta = 2
        epsilon= 1e-4
        
    Returns:
        fbeta score
    '''
    
    beta_squared = beta**2
    
    y_true = tf.cast(y_true, tf.float32)
    y_pred = tf.cast(tf.greater(tf.cast(y_pred, tf.float32), tf.constant(0.5)), tf.float32)
    
    tp = tf.reduce_sum(y_true * y_pred, axis = 1)
    fp = tf.reduce_sum(y_pred, axis = 1) - tp
    fn = tf.reduce_sum(y_true, axis = 1) - tp
    
    precision = tp/(tp+fp+epsilon)
    recall = tp/(tp+fn+epsilon)
    
    fb = (1+beta_squared)*precision*recall / (beta_squared*precision+recall+epsilon)
    return fb

In [11]:
def multi_label_acc(y_true, y_pred, epsilon = 1e-4):
    '''
    Retuns accuracy value for multi_label classification
    
    Set y_true and y_pred

    Args:
        y_true: correct target values
        Y_pred: predicted values returned by the classifer
        epsilon= 1e-4
        
    Returns:
        Accuracy score
    '''
    y_true = tf.cast(y_true, tf.float32)
    y_pred = tf.cast(tf.greater(tf.cast(y_pred, tf.float32), tf.constant(0.5)), tf.float32)
    
    tp = tf.reduce_sum(y_true * y_pred, axis = 1)
    fp = tf.reduce_sum(y_pred, axis = 1) - tp
    fn = tf.reduce_sum(y_true, axis = 1) - tp
    
    y_true = tf.cast(y_true, tf.bool)
    y_pred = tf.cast(y_pred, tf.bool)
        
    tn = tf.reduce_sum(tf.cast(tf.logical_not(y_true), tf.float32)
                       * tf.cast(tf.logical_not(y_pred), tf.float32), axis = 1)
    
    return (tp+tn)/(tp+tn+fp+fn+epsilon)

In [12]:
#defining our model
def build_model():
    model = Sequential()
    model.add(BatchNormalization(input_shape=(128, 128, 3)))
    model.add(Conv2D(32, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(32, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(64, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(64, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(128, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(128, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(256, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(256, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Flatten())
    model.add(Dense(512, activation='relu'))
    model.add(Dropout(0.5))
    model.add(Dense(17, activation='sigmoid'))

    opt = Adam(lr=1e-4)
    
    # We need binary here, since categorical_crossentropy l1 norms the output before calculating loss.
    model.compile(loss='binary_crossentropy',
              optimizer=opt,
              metrics=[multi_label_acc, fbeta])

    return model

In [13]:
#modelcheckpoint is set to monitor the model using validation fbeta score and save the best only
save_best_check_point = ModelCheckpoint(filepath = 'best_model.hdf5', 
                                        monitor = 'val_fbeta',
                                        mode = 'max',
                                        save_best_only = True,
                                        save_weights_only = True)

In [14]:
#initializing imagedatagenerator with a validation split of 0.2
train_image_gen = ImageDataGenerator(rescale = 1/255, validation_split = 0.2)

#generating train data generator which is 80% of the train dataset
#note that a generator contains both features and target of the data
train_generator = train_image_gen.flow_from_dataframe(dataframe=train,
                                                directory ="/kaggle/input/planets-dataset/planet/planet/train-jpg",  
                                                x_col="image_name", y_col=columns, subset="training", 
                                                batch_size=16,seed=2021, shuffle=True, 
                                                class_mode="raw", target_size=(128,128))

#generating validation data which is expected to be 20% of the train dataset since validation split is 0.2
val_generator = train_image_gen.flow_from_dataframe(dataframe=train,
                                                directory ="/kaggle/input/planets-dataset/planet/planet/train-jpg",  
                                                x_col="image_name", y_col=columns, subset="validation", 
                                                batch_size=16,seed=2021, shuffle=True, 
                                                class_mode="raw", target_size=(128,128))

Found 32384 validated image filenames.
Found 8095 validated image filenames.

In [15]:
import numpy as np
#setting up step size for training and validation image data
step_train_size = int(np.ceil(train_generator.samples / train_generator.batch_size))
step_val_size = int(np.ceil(val_generator.samples / val_generator.batch_size))

In [16]:
#initialize the model
model1 = build_model()

In [17]:
# Preview the model architecture
model1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 batch_normalization (BatchN  (None, 128, 128, 3)      12
 ormalization)

 conv2d (Conv2D)             (None, 128, 128, 32)      896

 conv2d_1 (Conv2D)           (None, 126, 126, 32)      9248

 max_pooling2d (MaxPooling2D  (None, 63, 63, 32)       0
 )

 dropout (Dropout)           (None, 63, 63, 32)        0

 conv2d_2 (Conv2D)           (None, 63, 63, 64)        18496

 conv2d_3 (Conv2D)           (None, 61, 61, 64)        36928

 max_pooling2d_1 (MaxPooling  (None, 30, 30, 64)       0
 2D)

 dropout_1 (Dropout)         (None, 30, 30, 64)        0

 conv2d_4 (Conv2D)           (None, 30, 30, 128)       73856

 conv2d_5 (Conv2D)           (None, 28, 28, 128)       147584

 max_pooling2d_2 (MaxPooling  (None, 14, 14, 128)      0
 2D)

 dropout_2 (Dropout)         (None, 14, 14, 128)       0

 conv2d_6 (Conv2D)           (None, 14, 14, 256)       295168

 conv2d_7 (Conv2D)           (None, 12, 12, 256)       590080

 max_pooling2d_3 (MaxPooling  (None, 6, 6, 256)        0
 2D)

 dropout_3 (Dropout)         (None, 6, 6, 256)         0

 flatten (Flatten)           (None, 9216)              0

 dense (Dense)               (None, 512)               4719104

 dropout_4 (Dropout)         (None, 512)               0

 dense_1 (Dense)             (None, 17)                8721

=================================================================
Total params: 5,900,093
Trainable params: 5,900,087
Non-trainable params: 6
_________________________________________________________________

In [18]:
#fitting our model using the parameters already defined 
model1.fit(x = train_generator, 
           steps_per_epoch = step_train_size, 
           validation_data = val_generator, 
           validation_steps = step_val_size,epochs = 15, 
           callbacks=[save_best_check_point])

Epoch 1/15

2023-07-16 02:56:38.543026: E tensorflow/core/grappler/optimizers/meta_optimizer.cc:954] layout failed: INVALID_ARGUMENT: Size of values 0 does not match size of permutation 4 @ fanin shape insequential/dropout/dropout/SelectV2-2-TransposeNHWCToNCHW-LayoutOptimizer

2024/2024 [==============================] - 504s 244ms/step - loss: 0.2076 - multi_label_acc: 0.9188 - fbeta: 0.6998 - val_loss: 0.1612 - val_multi_label_acc: 0.9356 - val_fbeta: 0.7692
Epoch 2/15
2024/2024 [==============================] - 164s 81ms/step - loss: 0.1707 - multi_label_acc: 0.9330 - fbeta: 0.7665 - val_loss: 0.1504 - val_multi_label_acc: 0.9402 - val_fbeta: 0.7787
Epoch 3/15
2024/2024 [==============================] - 135s 67ms/step - loss: 0.1605 - multi_label_acc: 0.9362 - fbeta: 0.7817 - val_loss: 0.1558 - val_multi_label_acc: 0.9370 - val_fbeta: 0.7536
Epoch 4/15
2024/2024 [==============================] - 127s 63ms/step - loss: 0.1521 - multi_label_acc: 0.9395 - fbeta: 0.7971 - val_loss: 0.1425 - val_multi_label_acc: 0.9426 - val_fbeta: 0.8028
Epoch 5/15
2024/2024 [==============================] - 120s 59ms/step - loss: 0.1454 - multi_label_acc: 0.9426 - fbeta: 0.8137 - val_loss: 0.1366 - val_multi_label_acc: 0.9456 - val_fbeta: 0.8211
Epoch 6/15
2024/2024 [==============================] - 118s 58ms/step - loss: 0.1414 - multi_label_acc: 0.9447 - fbeta: 0.8207 - val_loss: 0.1307 - val_multi_label_acc: 0.9487 - val_fbeta: 0.8325
Epoch 7/15
2024/2024 [==============================] - 120s 59ms/step - loss: 0.1369 - multi_label_acc: 0.9467 - fbeta: 0.8282 - val_loss: 0.1329 - val_multi_label_acc: 0.9489 - val_fbeta: 0.8383
Epoch 8/15
2024/2024 [==============================] - 122s 60ms/step - loss: 0.1349 - multi_label_acc: 0.9473 - fbeta: 0.8320 - val_loss: 0.1276 - val_multi_label_acc: 0.9508 - val_fbeta: 0.8411
Epoch 9/15
2024/2024 [==============================] - 119s 59ms/step - loss: 0.1332 - multi_label_acc: 0.9480 - fbeta: 0.8336 - val_loss: 0.1254 - val_multi_label_acc: 0.9513 - val_fbeta: 0.8432
Epoch 10/15
2024/2024 [==============================] - 118s 58ms/step - loss: 0.1304 - multi_label_acc: 0.9495 - fbeta: 0.8401 - val_loss: 0.1275 - val_multi_label_acc: 0.9513 - val_fbeta: 0.8467
Epoch 11/15
2024/2024 [==============================] - 118s 58ms/step - loss: 0.1301 - multi_label_acc: 0.9494 - fbeta: 0.8393 - val_loss: 0.1295 - val_multi_label_acc: 0.9509 - val_fbeta: 0.8421
Epoch 12/15
2024/2024 [==============================] - 118s 58ms/step - loss: 0.1288 - multi_label_acc: 0.9502 - fbeta: 0.8419 - val_loss: 0.1244 - val_multi_label_acc: 0.9527 - val_fbeta: 0.8471
Epoch 13/15
2024/2024 [==============================] - 138s 68ms/step - loss: 0.1278 - multi_label_acc: 0.9507 - fbeta: 0.8435 - val_loss: 0.1214 - val_multi_label_acc: 0.9529 - val_fbeta: 0.8510
Epoch 14/15
2024/2024 [==============================] - 117s 58ms/step - loss: 0.1270 - multi_label_acc: 0.9512 - fbeta: 0.8459 - val_loss: 0.1217 - val_multi_label_acc: 0.9529 - val_fbeta: 0.8608
Epoch 15/15
2024/2024 [==============================] - 119s 59ms/step - loss: 0.1268 - multi_label_acc: 0.9510 - fbeta: 0.8445 - val_loss: 0.1207 - val_multi_label_acc: 0.9539 - val_fbeta: 0.8574

In [19]:
#initializing a second model to make predictions
model2 = build_model()

In [20]:
#loading in the weights of the trained model
model2.load_weights('best_model.hdf5')

In [21]:
##adding .jpg extension to image name in the sample submission file
sample_submission = pd.read_csv('/kaggle/input/planets-dataset/planet/planet/sample_submission.csv')
sample_submission1 = sample_submission.copy()
sample_submission1['image_name'] = sample_submission1['image_name'].apply(lambda x: '{}.jpg'.format(x))
sample_submission1.head()

   image_name                                  tags
0  test_0.jpg  primary clear agriculture road water
1  test_1.jpg  primary clear agriculture road water
2  test_2.jpg  primary clear agriculture road water
3  test_3.jpg  primary clear agriculture road water
4  test_4.jpg  primary clear agriculture road water

In [22]:
# Divide the sample submission file into two splits,
# first test_df which contains the first 40669 images 
test_df = sample_submission1.iloc[:40669]['image_name'].reset_index().drop('index', axis =1)
test_df.head()

   image_name
0  test_0.jpg
1  test_1.jpg
2  test_2.jpg
3  test_3.jpg
4  test_4.jpg

In [23]:
#initialize imagedatagenerator for the test images and also rescaling
test_image_gen = ImageDataGenerator(rescale = 1/255)

#creating a generator for the images found in the first test image files
test_generator = test_image_gen.flow_from_dataframe(dataframe=test_df, 
                                                directory="/kaggle/input/planets-dataset/planet/planet/test-jpg", 
                                                x_col="image_name", 
                                                y_col=None, 
                                                batch_size=16, 
                                                shuffle=False, 
                                                class_mode=None, 
                                                target_size=(128,128))

step_test_size = int(np.ceil(test_generator.samples/test_generator.batch_size))

Found 40669 validated image filenames.

In [24]:
#first, we reset the test generator to avoid shuffling of index as we want it to be orderly
test_generator.reset()
pred = model2.predict(test_generator, steps = step_test_size, verbose = 1)

2542/2542 [==============================] - 370s 146ms/step

In [25]:
#this is to get the filenames in the generator using the attribute .filenames
file_names = test_generator.filenames

#convert the predicted values to a dataframe and join two labels together if the probability of occurrance 
#of the label is greater than 0.5 
pred_tags = pd.DataFrame(pred)
pred_tags = pred_tags.apply(lambda x: ' '.join(np.array(labels)[x>0.5]), axis = 1)

#then the result should look like this 
result1 = pd.DataFrame({'image_name': file_names, 'tags': pred_tags})
result1.head()

   image_name                   tags
0  test_0.jpg          clear primary
1  test_1.jpg                primary
2  test_2.jpg  partly_cloudy primary
3  test_3.jpg          clear primary
4  test_4.jpg                 cloudy

In [26]:
#additional test dataset
add_test_df = sample_submission1.iloc[40669:]['image_name'].reset_index().drop('index', axis =1)
add_test_df.head()

      image_name
0     file_0.jpg
1     file_1.jpg
2    file_10.jpg
3   file_100.jpg
4  file_1000.jpg

In [27]:
#creating a generator for the additional test image files
add_test_generator = test_image_gen.flow_from_dataframe(dataframe = add_test_df, 
                                                    directory ="/kaggle/input/planets-dataset/test-jpg-additional/test-jpg-additional", 
                                                    x_col="image_name", 
                                                    y_col=None, 
                                                    batch_size=16, 
                                                    shuffle=False, 
                                                    class_mode=None, 
                                                    target_size=(128,128))


step_test_size2 = int(np.ceil(add_test_generator.samples/add_test_generator.batch_size))

Found 20522 validated image filenames.

In [28]:
#we reset the generator to avoid shuffling, then make prediction on the generator
add_test_generator.reset()
add_pred = model2.predict(add_test_generator, steps = step_test_size2, verbose = 1)

1283/1283 [==============================] - 183s 143ms/step

In [29]:
#this is to get the filenames in the generator using the attribute .filenames
file_names = add_test_generator.filenames

#convert the predicted values to a dataframe and join two labels together if the probability of occurrance 
#of the label is greater than 0.5
add_pred_tags = pd.DataFrame(add_pred)
add_pred_tags = add_pred_tags.apply(lambda x: ''.join(np.array(labels)[x>0.5]), axis = 1)

#then the result should look like this
result2 = pd.DataFrame({'image_name': file_names, 'tags': add_pred_tags})
result2.head()

      image_name                          tags
0     file_0.jpg                  clearprimary
1     file_1.jpg   clearroadprimaryagriculture
2    file_10.jpg  clearprimarywateragriculture
3   file_100.jpg       clearprimaryagriculture
4  file_1000.jpg                  clearprimary

In [30]:
#for the final result of the predicted tags for the test images,
# we need to concat the first and second results in 
#that order to avoid shuffling the index
last_result = pd.concat([result1, result2])

last_result = last_result.reset_index().drop('index', axis =1)

print(last_result.shape)
#print the final result
last_result.head()

(61191, 2)

   image_name                   tags
0  test_0.jpg          clear primary
1  test_1.jpg                primary
2  test_2.jpg  partly_cloudy primary
3  test_3.jpg          clear primary
4  test_4.jpg                 cloudy

In [31]:
#we need to remove the .jpg extension from the image_name of the
# last_result because from the sample submission the 
#extension was not there, we added it for easy manipulation of the data.
last_result['image_name'] = last_result['image_name'].apply(lambda x: x[:-4])
last_result.head()

  image_name                   tags
0     test_0          clear primary
1     test_1                primary
2     test_2  partly_cloudy primary
3     test_3          clear primary
4     test_4                 cloudy

In [32]:
# Finally, we save the result to a csv file using the .to_csv() 
# method and setting the index to false.
last_result.to_csv('submission1.csv', index = False)