### INITIALISATION

In [88]:
import pandas as pd

In [89]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [90]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

#

### QUESTION 2
What year has the highest sum of Stock Variation

In [73]:


l={}
for i in range(4,9):
    yr = 'Y201'+str(i)
    df.groupby('Element')[yr].sum()['Stock Variation']
    l[i]=df.groupby('Element')[yr].sum()['Stock Variation']

In [74]:
l

{4: 58749.83, 5: 34910.99, 6: 33140.12, 7: 54316.91, 8: 20577.91}

In [79]:
val = max(l.values())
for k, v in l.items():
    if v == val:
        print(k)

4

#

### QUESTION 3
Which year had the least correlation with ‘Element Code’

In [80]:
df.corr()

C:\Users\Isha Desai\AppData\Local\Temp\ipykernel_20604\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [24]:
l = [0.024457,0.023889,0.023444,0.024254,0.024279]

In [25]:
min(l)

0.023444

#

### QUESTION 6
Which of these Areas had the 7th lowest sum in 2017

In [39]:
df.groupby('Area')['Y2017'].sum().sort_values(ascending=True).head(7)

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

#

### QUESTION 9
What is the total number and percentage of missing data in 2014 to 3 decimal places

In [40]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

#

### QUESTION 11
What is the total number of unique countries in the dataset

In [49]:
len(df['Area'].unique())

49

#

### QUESTION 12
What is the total Protein supply quantity in Madagascar in 2015

In [84]:
df.groupby(['Area', 'Element'])['Y2015'].sum()['Madagascar']['Protein supply quantity (g/capita/day)']

173.05

#

### QUESTION 13
What is the total sum of Wine produced in 2015 and 2018 respectively

In [82]:
df.groupby('Item')['Y2015'].sum()['Wine']

4251.81

In [56]:
df.groupby('Item')['Y2018'].sum()['Wine']

4039.32

#

### QUESTION 16
Which of these Areas had the highest sum in 2017

In [86]:
df.groupby('Area')['Y2017'].sum().sort_values(ascending=False).head(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

#

### QUESTION 18
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places

In [87]:
df.describe()['Y2017']

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

#

### QUESTION 19
What is the total number of the sum of Processing in 2017

In [65]:
df.groupby('Element')['Y2017'].sum()['Processing']

292836.0